* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.one-header {
  background-color: #571f9c;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 60px;
}
.info {
  color: white;
  margin-left: -10px;
  margin: 20px;
}
.info a {
  color: white;
  text-decoration: none;
}
.main-div {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.map a {
  color: white;
  text-decoration: none;
}
.shopping a {
  color: white;
  text-decoration: none;
}
.contact-icon a {
  color: white;
  text-decoration: none;
}
.contact-icon .material-icons {
  font-size: small;
}
.logo-set nav img {
  width: 250px;
}
.logo-set {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  margin-top: 20px;
}
.logo-set ul {
  display: inline-flex;
  gap: 35px;
  padding: 0;
  margin: auto 0;
}
.logo-set ul li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
}
.services {
  height: 150px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2_1 {
  padding: 5px;
}
.one-div h2{
  width: 81%;
  font-size: 34px;
  line-height: 51px;
  font-weight: 400;
  color: rgb(17, 17, 17);
}


.one-div p{
  width: 67%;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(119, 119, 119);
}.one-div h5{
  font-size: 18px;
  font-weight:400 ;
  color: #111;
  line-height: 27px;
}
.paragraph p{
    font-size: 18px;
  font-weight:400 ;
  color: rgb(119, 119, 119);
  line-height: 27px;
}
.main-div{
  padding: 0 120px;
}
.para p{
  padding-bottom: 15px;
}
.one-div{
  padding-top: 40px;
}
.paragraph p a{
  text-decoration: none;
}