* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    border-bottom: 1px solid #DEDEDE;
    margin-left: 13px;
    padding-left: 17px;
}

.winter {
    margin-left: 13px;
    padding-left: 17px;
}

.winter a {
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 225px;
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Alegreya";
    text-decoration: none;
}

.winter a:hover {
    color: #e7131a;
}

.main-section {
    margin-top: 28px;
}

.text a {
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 221px;
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Alegreya";
    text-decoration: none;
}

.heading h3 {
    text-align: center;
    font-family: "Alegreya", serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 49, 49);
    font-size: 24px;
    line-height: 32px;
} 
.heading {
    margin-right: 26%;
    margin-bottom: -15px;
}

.text a:hover {
    color: #e7131a;
}

.card-one p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(136, 136, 136);
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.card-one {
    border-right: 1px solid #DEDEDE;
    margin-right: 20px;
}

.card-two img {
    width: 430px;
}

.card-two h2 {
    width: 405px;
    text-align: center;
    font-family: "Alegreya";
}

.card-two h2:hover {
    color: #e7131a;
}

.by span {
    font-size: 11px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 16px;
    color: #313131;
}

.card-two a {
    font-size: 11px;
    color: #313131;
    text-decoration: none;
    font-weight: 400;
    line-height: 16px;
}

.card-two a:hover {
    color: #e60000;
}

.card-two p {
    color: #313131;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
}

.card-three {
    border-left: 1px solid #DEDEDE;
    padding-left: 14px;
    margin-left: 20px;
}

.five a {
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 240px;
    color: #222;
    font-weight: 600;
    font-family: "Alegreya";
    text-decoration: none;
    margin-bottom: 10px;
}

.rock a:hover {
    color: #e7131a;
}

.five {
    margin-bottom: 20px;
    width: 259px;
    border-bottom: 1px solid #DEDEDE;
    align-items: center;
    padding-bottom: 15px;
}

.rock a {
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 240px;
    color: #222;
    font-weight: 600;
    font-family: "Alegreya";
    text-decoration: none;
    margin-bottom: 10px;
}

.left-container {
    border-bottom: 1px solid #DEDEDE;
    padding-top: 40px;
}

.five p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(136, 136, 136);
    font-size: 12px;
    line-height: 14px;
}

.rock p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(136, 136, 136);
    font-size: 12px;
    line-height: 14px;
}

.five a:hover {
    color: #e60000;
}

.left-container {
    display: flex;
}

.author {
    text-align: center;
    padding-top: 9px;
}

.card-one {
    width: 270px;
}

.container {
    display: flex;
    height: 545px;
}

.box-one img {
    width: 309px;
}

.box-two h3 {
    font-family: "Alegreya";
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    color: #e7131a;
    margin-bottom: 10px;
}

.box-two p {
    font-family: "Alegreya";
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
    padding: 10px;
}

.brexit {
    width: 300px;
}

.hurt {
    width: 320px;
}

.climbing {
    width: 316px;
}

.one {
    width: 307px;
}

.olympics {
    width: 322px;
}

.bruno {
    width: 274px;
}

.right-container {
    border-left: 1px solid #DEDEDE;
    padding-left: 14px;
}

.text:hover {
    color: #e7131a;
}

.video img {
    width: 180px;
    height: 120px;
}

.video a {
    text-decoration: none;
    color: #222;
    font-family: "Alegreya";
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 170px;
    margin-top: 10px;
    font-weight: 500;
}

.video a:hover {
    color: #e7131a;
}

.video p {
    color: #727272;
    font-family: "Lato";
    font-size: 12px;
    margin-top: 10px;
}

.video-list {
    display: flex;
    margin-top: 20px;
}

.new-video h2 {
    font-family: 'Alegreya', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgb(49, 49, 49);
    margin: 1%;
}

.video {
    border-right: 1px solid #DEDEDE;
    padding-left: 17px;
    padding-right: 20px;
}

.privacy {
    text-align: right;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 10000;
    display: block;
    width: 80px;
}

.privacy a {
    text-decoration: none;
    width: 80px;
    height: 40px;
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 49, 49);
    font-size: 13px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
hr {
    width: 440px;
    display: inline-block;
    color: #DEDEDE;
}
.heading h3 {
    display: inline-block;
}
 @media screen and (min-width: 768px) and (max-width: 1024px) { 
    
 }