*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
    padding: 40px 0px 40px 0px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.content img{
    width:50%;
    padding-left: 12px;
}
.content-button button{
    background-color: #e50914;
    color: white;
    border: none;
    padding: 9px 19px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 600;
}
.links{
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.links li{
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: "lato";
    line-height: 18px;
    font-weight: 400;
}
.links li:hover{
    color: #8F1A18;
}
.additional-links{
    color: white;
    text-decoration: none;
}
.additional-links li{
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: "lato";
    line-height: 18px;
    font-weight: 400;
}
.additional-links li:hover{
    color: #8F1A18;
}
.subtract-links{
    color: white;
    text-decoration: none;
}
.subtract-links li{
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: "lato";
    line-height: 18px;
    font-weight: 400;
}
.subtract-links li:hover{
    color: #8F1A18;
}
.breaking-news{
    color: white;
    text-decoration: none;
}
.breaking-news li{
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: "lato";
    line-height: 18px;
    font-weight: 400;
}
.breaking-news li:hover{
    color: #8F1A18;
}
.legal-links{
    color: white;
    text-decoration: none;
}
.legal-links li{
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: "lato";
    line-height: 18px;
    font-weight: 400;
}
.legal-links li:hover{
    color: #8F1A18;
}
.social{
    display: flex;
    justify-content: space-between;
}
.copyright{
    color: white;
    text-decoration: none;
}
.copyright li{
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: "lato";
    line-height: 18px;
    font-weight: 400;
}
.copyright li:hover{
    color: #8F1A18;
}
 .subscribe-button {               
    background-color: #000000;
    color: #ffffff;           
    border: 2px solid #ffffff;
    padding: 10px 30px;      
    font-size: 18px;     
    font-family: "Roboto";     
    font-weight: 600;  
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.subscribe-button a {
    color: #ffffff;
    text-decoration: none;
}

.subscribe-button:hover {
    background-color: #e50914;
    border-color: #e50914;
}
.copyright-c{
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: #101010;
    height: 80px;
    align-items: center;
}
.copyright-text{
   font-family: "lato";
   font-size: 14px;
   color: #ccc;
   line-height: 24px;
   font-weight: 400;
   padding-left: 7px;
}
.copyright-text a{
    color: #e50914;
    text-decoration: none;
}
.brand-icons{
    display:flex;
    align-items:center;
    gap:10px;
}

.brand-icons i{
    width:34px;
    height:34px;
    background:#1f1f1f;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:.3s;
    margin-right:10px;
}
.brand-icons i:hover{
    background:#585858;
    color:#fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .copyright-c{
        display: grid;
        grid-template-columns: 1fr;

    }
    .brand-icons{
        text-align: center;
        width: 100%;
        padding-left: 200px;
    }
    .copyright-text{
        text-align: center;
        width: 100%;
    }
}
@media(max-width: 767px) {
    .content{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .content-image img{
        margin-left: -2%;
        width: 250px;
    }
    .social{
        display: grid;
    }
    .subscribe-button{
        width: 160%;
    }

    .copyright-c{
        padding:25px 15px 30px;
        background:#111;
        justify-content:center ;
        align-items:center ;
        text-align:center ;
        padding:20px 15px ;
        gap:20px;
        grid-template-columns: 1fr;
       display:grid
    }

    .copyright-text{
        width:100% !important ;
        max-width:100% ;
         margin-bottom:18px;
    }

    .copyright-text p{
        width:100%!important ;
        font-size:14px ;
        line-height:24px;
    }

    .brand-icons{
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap:wrap;
        gap: 16px;
         padding-bottom:10px;
    }

    .brand-icons i{
        width:38px;
        height:38px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
  body{
        background: #101010 !important;
    } 
    .subscribe-button a{
        margin-left: 27%;
    }
}