header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.pages {
  text-decoration: none;
  display: flex;
  gap: 20px;
}
.pages a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.book {
  display: flex;
  gap: 15px;
}
button:hover {
  background-color: #ab8a62;
  color: white;
}
.sign-in {
  border-radius: 5px;
  display: block;
  margin: 10px;
  background-color: white;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sign-up {
  border-radius: 5px;
  display: block;
  margin: 10px;
  background-color: white;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.book-now {
  background-color: #ab8a62;
  border-radius: 20px;
  display: block;
  margin: 5px;
  color: white;
}
.image-box {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.image-box img {
  width: 100%;
  height: auto;
  display: block;

}

.background-image {
  position: relative;
  background: linear-gradient(
      rgba(87, 83, 190, 0.6),   /* top par thoda dark */
      rgba(87, 83, 190, 0.6)    /* bottom par light */
    ),
    url(images/home-1-2.webp) no-repeat center center/cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.head {
  color: #fff;
  font-size: 20px;
}

.para {
  font-size: 19px;
  color: #fff;
}
.stay {
  font-size: 70px;
  color: #fff;
}

.discover {
  background: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
.background-image button:hover {
  background-color: #a67c52;
}

.main-stay {
  margin-top: 44px;
}
.html,
body {
  overflow-x: hidden;
}
.main-input {
 display: flex;
    flex-wrap: wrap;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #fff;
    margin-top: -60px;
    margin-left: 50px;
    margin-right: 50px;
}

.main-input > div {
  flex: 1 1 180px;
  padding: 15px;
  border-right: 1px solid #ddd; 
}

.main-input > div:last-child {
  border-right: none; 
}

.main-input h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.main-input input,
.main-input select {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #ccc; 
}

.main-input input:focus,
.main-input select:focus {
  border-bottom: 2px solid #c49a6c; 
}

.main-input button {
  background-color: #c49a6c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
}

.main-input button:hover {
  background-color: #a67c52;
}


