* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: red;
    color: white;
}

header img {
    width: 150px;
}

.nav {
    display: flex;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "lato", sans-serif;
    padding: 12px;
}

.nav a:hover {
    background-color: white;
    color: red;
}
.search {
    padding: 10px;
}
.search i {
    padding: 10px;
}
.search button {
    padding: 10px;
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: 700;
    font-family: "lato", sans-serif;
    width: 100px;
}
.search button:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}